<?xml version="1.0" encoding="UTF-8"?> 
<launch> 
    <arg name="cam_fps" default="30"/>
    <arg name="enable_rosbag" default="false"/>
    <arg name="bag_prefix" default=""/>
    <arg name="hw_sync" default="true"/>

    <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>

    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" default="$(arg fcu_url)"/>
        <arg name="log_output" default="screen"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_color" value="false"/>
        <arg name="depth_fps" value="$(arg cam_fps)"/>
        <arg name="external_hw_sync"   value="$(arg hw_sync)"/>
        <arg name="inter_cam_sync_mode" value="1" if="$(arg hw_sync)"/>
        <arg name="static_time_shift"  value="0.0"/>   <!-- time calibration offset from static [ms]-->
    </include>

    <node name="set_RS_param" pkg="realsense2_camera" type="realsense_params_RX.sh" />

    <node pkg="rosbag" type="record" name="rosbag_record_cam_imu"
      args="record -o $(arg bag_prefix) 
      /camera/infra1/image_rect_raw /camera/infra2/image_rect_raw 
      /mavros/imu/data_raw /mavros/cam_imu_sync/cam_imu_stamp /mavros/local_position/pose"
      if="$(arg enable_rosbag)" />
</launch>